
@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Shared/Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-success">Đặt hàng thành công!</h1>
            <p>Cảm ơn bạn đã mua hàng tại chúng tôi. Đơn hàng của bạn đang được xử lý.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Về trang chủ</a>
        </div>
    </div>
</div>